<h2>Your cart</h2>

<%= @orders.inspect %>

<div class="row">
	<div class="col-md-12"><h3>list orders</h3></div>
</div>
<div>
	<input id="orders_input" type="text" name="orders"/>
</div>

<table class="table table-striped">
	<tbody>
		<tr>
			<td>№</td>
			<td>price</td>
			<td>quantity</td>
		</tr>
	</tbody>
</table>


