<h2>List orders</h2>
<div class="row">

  <% @order1.each do |order| %>
  <div class="col-md-3">
    <div>
        <%= order.orders_input %>
    </div>

    <div>
        <%= order.name %>
    </div>

    <div>
        <%= order.phone %>
    </div>

    <div>
        <%= order.address %>
    </div>

  </div>
  <% end %>

</div>
<br>
<br>
